{% extends 'base.html' %}
{% block content %}
<section class="games">
    {% for game in games: %}
    <section>
        <header>
            <h2>{{ game["name"] }}</h2>
            <section class="controls">
                
                <form action="/games/{{ game['id'] }}/edit">
                    <button>edit</button>
                </form>

                <form action="/games/{{ game['id'] }}/delete" method="POST">
                    <button>Delete</button>
                </form>
            </section>
        </header>

        <img src="{{ game['image_url'] }}" alt="">
        <p class="description">{{ game['description'] }}</p>
    </section>
    {% endfor %}
</section>
{% endblock %}