{% extends 'base.html' %}
{% block content %}
<section class="games">
    {% for game in games: %}
    <section>
        <header class="game_title">
            <h2>{{ game["name"] }}</h2>
        </header>
            <section class="controls">
                
                <form action="/games/{{ game['id'] }}/edit"  class="edit_control">
                    <button>Edit</button>
                </form>

                <form action="/games/{{ game['id'] }}/delete" method="POST" class="edit_control">
                    <button>Delete</button>
                </form>
            </section>
        

        <section class="container">
            <img src="{{ game['image_url'] }}" alt="">
            <section class="overlay">
                <section class="hover_text">{{ game['description'] }}</section>
            </section>
        </section>
    </section>
    {% endfor %}
</section>
{% endblock %}