{% extends 'base.html' %}
{% block content %}
<section class="edit_game">
    <form action="/games/{{ game['id'] }}/new_game_details" method="POST">
        <label for="">Game Name: </label>
        <input type="text" name="name" value="{{ game['name'] }}">

        <label for="">Game Poster Image URL: </label>
        <input type="text" name="image_url" value="{{ game['image_url'] }}">

        <label for="">Description</label>
        <input type="text" name="description" value="{{ game['description'] }}" class="description_box">
        <button>Change Game Details</button>
    </form>
</section>
{% endblock %}