{% extends 'base.html' %}
{% block content %}
<section class="games">
    {% for game in games: %}
    <section class="game_cards">
        <header class="game_title">
            <h2>{{ game["name"] }}</h2>
        </header>
        {% if current_user %}
            {% if game['id'] in wishlist %}
            <section>  
                    <section class="green_tick">Wishlisted</section>
            </section>
            {% else %}
            <section>  
                <form action="/games/{{ game['id'] }}/wishlist" method="POST">
                    <button>Wishlist</button>
                </form>
            </section>
            {% endif %}
        {% endif %}
        <section class="container">
            <img src="{{ game['image_url'] }}" alt="">
            <section class="overlay">
                <section class="hover_text">{{ game['description'] }}</section>
            </section>
        </section>
    </section>
    {% endfor %}
</section>
{% endblock %}