{% extends 'base.html' %}
{% block content %}
<section>
    <form action="/games/new_game" method="POST"  class="edit_game">
        <label for="">Game Name: </label>
        <input type="text" name="name"  class="input_box" placeholder="Type here">

        <label for="">Game Poster Image URL: </label>
        <input type="text" name="image_url" class="input_box" placeholder="Type here">

        <label for="">Description:</label>
        <textarea type="text" name="description" class="description_box" placeholder="Type here"></textarea>
        <section  class="change_details">
            <button>Add Game</button>
        </section>
        
    </form>
</section>
<section>
    <p>online search coming soon</p>
</section>
{% endblock %}