{% extends 'base.html' %}

{% block content %}
<h1 class="page_title">Sign up</h1>
<form action="/users/create" method="POST" class="edit_game">
    <label for="">Username:</label>
    <input type="text" name="user_name" class="input_box" placeholder="Type here">

    <label for="">Email:</label>
    <input type="text" name="email" class="input_box" placeholder="Type here">

    <label for="">Password:</label>
    <input type="password" name="password" class="input_box" placeholder="Type here">
    <section  class="change_details">
        <button>Sign up</button>
    </section>
    
</form>    
{% endblock %}